.catalog {
    
    .catalog-list {
        grid-template-columns: 1fr 1fr;
        width: 100%;
        .catalog-item {

            .link-photo {

                img {
                    width: 100%;
                    max-width: 350px;
                    object-fit: cover;
                    height: 375px;
                }
            }
            
        }
    }
}