.about {

    

    .about-list {
        flex-direction: row;
        justify-content: space-between;

        .about-item {
            &:not(:last-child) {
                margin-bottom: 0px;
            }
            
            align-items: flex-start;
            max-width: 305px;

            

            &__text {
                text-align: left;
            }
        }
    }
}