.shopping-cart {
    

    

    

    .shopping-cart-btns {
        

        .shopping-cart-coupon {
            margin-bottom: 0px;
            

            .coupon-wrapper {
                flex-direction: row;
                align-items: flex-end;
                input {
                    
                    margin-right: 16px;
                    margin-bottom: 0px;
                }
    
                
            }
        }

       
    }
    
}